<!DOCTYPE html>
<html>
<head>
</head>

<body>
    <div>
        <h1><a href="/ex4">Welcome to Bis332</a></h1>
    </div>

        ============== [Login Request Page] =====================<br>
        Simple Gene Search System<br>

    <form name = "intro" action="/ex4/check/" method='POST' enctype='multipart/form-data'>
        {% csrf_token %}
        <br><b>Login</b><br>
        <div>
            ID: <input type="text" name="user_id">
            <input type="submit" value="Login">
        </div>
    </form>

</body>
</html>
